<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <hr>
  <h2>
    <a href="/teams/new">Add another team</a>
  </h2>
  <hr>

<div class="overall">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th>Players</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      <% teams.forEach((team) => { %>
      <tr>
        <td><%= team.name %></td>
        <td><%= team.players %></td>
        <td><%= team.score %></td>
        <td><a href="/teams/<%= team._id %>/edit">EDIT</a>
        <td>
          <form action="/teams/<%= team._id %>?_method=DELETE" method="POST">
            <button type="submit">Delete</button>
          </form>
        </td>
      </tr>
      

      <% }) %>
    </tbody>
  </table>
</div>
</main>

<%- include('../partials/footer') %>






