<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <hr>

  <table id="list">
    <thead>
      <tr>
        <th>Name</th>
        <th>Players</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      <% teams.forEach((team) => { %>
      <tr>
        <td><%= team.name %></td>
        <td><%= team.players %></td>
        <td><%= team.score %></td>
        <td>
          <form action="/teams/<%= team._id %>?_method=DELETE" method="POST">
            <button type="submit">Delete</button>
          </form>
        </td>
      </tr>
      

      <% }) %>
    </tbody>
  </table>
</main>

<%- include('../partials/footer') %>






