<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>

  <% if (user?.profile.avatar) { %>
    <div>
      <img 
        src="<%= user.profile.avatar %>" 
        alt="<%= user.profile.name %> avatar"
      >
    </div>
  <% } %>
    <hr>
  <h2>Bienvenue | Soccer-team-tracker</h2>
  <h4></h4>
</main>

<%- include('./partials/footer') %>
